ion-content{
    --background: #f0f0f0;
}

ion-toolbar {
    --background: #66615B;
    --color: white;
}

ion-note {
    font-size: 16px;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    text-align: center;
}

.delete {
    margin-left: 75%;
    margin-bottom: -6%;
    width: 3%;
    height: 28px;
}

.imageDefault{
    height: 65%;
    width: 65%;
    display: block;
    margin:auto;
    border-radius: 15px 15px 15px 15px;
}

.ion-note-desliza {
    font-size: 16px;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    text-align: center;
    margin-top: -3%;
}

ion-item-group{
    margin-top: -30px;
}

.badge{
    --background: #4c4c4a;
}

.descripcion {
    text-transform: lowercase;
}

h6 {
    color: black;
}

.ion-icon {
    color: gray;
}

.ion-icon-desliza{
    color: gray;
    margin-top: -3%;
}

.ion-card-slide{
    width: 90%;
}

ion-slide {   
    text-align: left;
}

ion-slides{
    --bullet-background: rgb(59, 59, 59);
    --bullet-background-active: black;
}

.center{
    text-align: center;
}

p{
    font-size: 16px;
    color: #A6A6A6;
    margin-top: -5%;
}

ion-input {
    --color: black;
}

ion-list {
    background-color: #FFF;
    padding-top: 7%;
}

////////////////////////////////////////////////////////////

ion-item {
    --border-color: transparent !important;
    --background: #F7F7F6;
    border-radius: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

///////////////////////////////////////////////////////////

.ilist{
    --background: #ffffff;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}